@charset "utf-8";
@font-face {
	font-family: 'childpaper';
	src: url('childpaper.woff') format('truetype');
}
body {
	font-family: childpaper;
}
/*모바일 메뉴*/
.navbar .navbar-default {
	padding : 0px;
	min-height:40px;
	height:40px;
}
/*모바일 메뉴*/
.navbar-nav a {
	color: #9d9d9d;
	text-decoration:none;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
/*모바일 메뉴*/
.navbar-nav > li > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
/*모바일 메뉴*/
.navbar-nav a:hover{
	color:#FFF;
}
/*모바일 메뉴*/
.navbar-nav ul {
	list-style:none;
}
/*탑 메뉴*/
.top-nav{
	border-radius: 0px;
}
.none{
	display:none;
}
div.tistorytoolbar{
	display:none;
}
/*모바일만*/
@media screen and (max-width:768px) {
	div.navbar-header > a{
		display : none;
	}
}
/*브라우저만*/
@media screen and (min-width:768px) {
	ul.navbar-nav{
		display : none!important;
	}
}
/*사이드메뉴*/
aside{
	position:absolute;
	float:left;
	width:100%;
	background-color:rgba( 255, 255, 255, 0.5 );
	z-index: 1000;
	transition: left 50ms linear;
}
/*사이드메뉴*/
aside.on{
	left:0px;
}
/*사이드메뉴*/
aside > div{
	width:300px;
	background-color: rgba( 255, 255, 255, 1 );
	border:1px solid #000;		
}
aside > div > h2{
    background-color: #222;
    color: #FFF;
    margin: 0px;
    padding: 10px;
}
/*사이드메뉴*/
main{
	float:right;
	width:100%;
}
main.on{
	-webkit-filter:blur(1px);
}
main.off{
}
div.adminbox{
	border:1px solid #000;
	position:absolute;
	transition: top 50ms linear;
	height:200px;
	width:200px;
	background-color: rgba( 100, 100, 100, 0 );
	background-color: #FFF;
	z-index: 1000;
}
div.adminOff{
	top:-200px;
}
nav{
	z-index: 1001;
}


/*회사서 추가*/
aside > div,aside h2{
	border-top-right-radius: 10px;
}
aside h2{
	background: #222;
    background: -webkit-linear-gradient(#222, #bdc3c7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #bdc3c7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #bdc3c7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #bdc3c7); /* Standard syntax */
}
aside img{
	width:50px;
	height:50px;
	background-color:#FFF;
	border-radius: 30px;
}
div.bs-glyphicons{
	width:100%;
}
ul.bs-glyphicons-list{
	list-style: none;
	padding:0px;
}
ul.bs-glyphicons-list > li{
    float: left;
    width: 20%;
    height: 55px;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #bdc3c7;
	cursor:pointer;
}
ul.bs-glyphicons-list{
	margin:0px;
}
ul.bs-glyphicons-list > li:hover{
	background-color:#bdc3c7;
	color:#FFF;
}
ul.bs-glyphicons-list > li > span{
	width:100%;
}
ul.bs-glyphicons-list > li > span:first-child{
	font-size:30px;
}
ul.bs-glyphicons-list > li > span:last-child{
	font-size:10px;
}
