@font-face {
	font-family: 'childpaper';
	src: url('childpaper.ttf') format('truetype');
}

body {
	font-family: childpaper;
}

.navbar-default ul.nav li a {
	font-size: 1.5em;
}
/* 글 타이틀*/
div.titleArea div.title {
	font-size: 4em;
	margin-bottom: 0.2em;
}
/* 글 카테고리*/
div.titleArea div.categoryArea {
	margin-bottom: 1.0em;
}

div.titleArea div.categoryArea a {
	color: #337ab7;
}
/* 글*/
div.article>div.tt_article_useless_p_margin {
	font-size: 2em;
}
/*카테고리의 다른 글*/
div.article>div.tt_article_useless_p_margin>div.another_category {
	display: none;
}

div.widget-footer table {
	width: 100%;
}

div.widget-footer td {
	text-align: right;
}

div.entry hr {
	border-color: #000;
}

div.article {
	margin-bottom: 1.0em;
	min-height:200px;
}

div.tagText {
	font-size: 1.0em;
	clear: both;
	padding: 0px 0px 0px 37px;
	background: url("http://static.naver.net/blog/ico_tag.gif") 0px 5px
		no-repeat;
}

div.tagText>a {
	color: #337ab7;
	text-decoration: none;
}
div.tagText>a :hover{
	text-decoration: none;
}
input.nowonbuntext{
	border:#000;
}
div.actionTrail {
	margin-bottom: 1em;
}
div.actionTrail  a{
	color:#000;
}
div.actionTrail li{
	border : 1px solid #000;
}
div.commentWrite div.row > div{
	margin:0px;
}
input.commenttext,
textarea.commenttext{
	border:#000;
}
button.btnComment{
	background: #000
}
li.commentList{
	background-color:#FFF; 
	margin:10px;
}
hr.commentHr{
	margin:5px;
}
span.name{
	font-size:1.5em;
}
a.commentA > span{
	color:#337ab7;
}
