@charset "utf-8";

.navbar-inverse{
	background-color:#A1B2C3;
    border-color:#A0B0C0;
}
div.navbar-header > a.title > span {
	color:#222!important;
}
aside#leftside h2 {
	background: linear-gradient(#A1B2C3, #FFF)!important;
    color: #222!important;
}
aside#leftside {
    border: 1px solid #A0B0C0!important;
}
ul.bs-glyphicons-list > li {
	color:#123456!important;
}
ul.bs-glyphicons-list > li.off:hover{
	color:#123456!important;
}
aside#rightside{
	border: 1px solid #A0B0C0!important;
}
aside#rightside h2.side-header > a :hover{
	color:#FFF!important;
}
aside#rightside h2 {
	background-color:#A1B2C3!important;
}
aside#rightside h2:hover {
	color:#123456!important;
}
footer > div.footer-bottom{
	background-color: #A1B2C3!important;
}
span.menuSpan {
	color:#123456!important;
}
span.menuSpan:hover {
    /*background-color: #81a9db;*/
	background-color: #222!important;
    color: #FFF!important;
}
section.paging > a {
	color:#123456!important;
}
section.paging > span.numbox > span.selected,
section.paging > span.numbox > span.max{
	background-color:#123456!important;
}

div.lineContents{
	clear:both;
	height:10px;
}
/*******************
*      葛官老 贸府
********************/
@media screen and (max-width:768px) {
	
}
/*******************
*    宏扼快历 贸府
********************/
@media screen and (min-width:768px) {
	div.rightContent{
		float:right;
		display:inline-block;
		text-align:center;
		width:50%;
	}
	div.rightContent > p{
		text-align:left;
	}
	div.leftContent{
		float:left;
		display:inline-block;
		text-align:center;
		width:50%;
	}
	div.leftContent > p{
		text-align:left;
	}
	div.mainContent{
		text-align:center;
	}
}