@charset "utf-8";

.navbar-inverse{
	background-color:#A1B2C3;
    border-color:#A0B0C0;
}
span.menuSpan {
	color: #A1B2C3;
}
aside#leftside h2 {
	background: linear-gradient(#A1B2C3, #FFF)!important;
    color: #222;
}
aside#leftside {
    border: 1px solid #A0B0C0!important;
}
ul.bs-glyphicons-list > li {
	color:#123456;
}
ul.bs-glyphicons-list > li.off:hover{
	color:#123456!important;
}
aside#rightside h2.side-header > a {
	color:#123456;
}
aside#rightside h2.side-header > a :hover{
	color:#FFF;
}
span.glyphicon:hover not{
	color:#FFF;
}
span.menuSpan:hover {
    /*background-color: #81a9db;*/
	background-color: #222;
    color: #FFF;
}
aside#rightside h2 {
	background-color:#A1B2C3!important;
}
footer > div.footer-bottom{
	background-color: #A1B2C3!important;
}
span.menuSpan {
	color:#123456!important;
}