@charset "utf-8";
@font-face {
	font-family: 'childpaper';
	src: url('childpaper.woff') format('truetype');
}
body {
	font-family: childpaper;
}
.none{
	display:none;
}
div.tistorytoolbar{
	display:none;
}
